{% extends '/admin/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<section class="row justify-content-center" id="registration">
    <div class="col-lg-6 bg-faded py-4">
        {{ form_start(form)}}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(form) }}
    </div>
</section>

<!-- Form Avatar -->
<section class="row justify-content-center" id="registration">
    <div class="col-lg-6 py-4">
        {{ form_start(form_avatar)}}
        {{ form_widget(form_avatar) }}
        <button type="submit" class="btn btn-success">Enregistrer</button>
        {{ form_end(form_avatar) }}
    </div>
</section>
{% endblock %}