{% extends '/admin/base.html.twig' %}

{% block title %}{{ parent() }}{{ controller_name }}{% endblock %}

{% block body %}

<!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{ controller_name }}</h1>
    {% if pagination.data %}
        <div class="row justify-content-center p-4">
            <div class="col-11">
                <div class="card">
                    <div class="card-body mt-2">
                        <div class="table-responsive">
                            <div class="row mx-2">
                                <table class="table table-bordered" id="dataTable"  cellspacing="0" >
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Email</th>
                                            <th>Adresse</th>
                                            <th>Zip</th>
                                            <th>Pays</th>
                                            <th>Téléphone</th>
                                            <th>Entreprise</th>
                                            <th>N° Entreprise</th>
                                            <th>Date d'anniversaire</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in pagination.data %}
                                            <tr type="button" data-toggle="collapse" data-target="#collapseExample{{user.id}}" aria-expanded="false" aria-controls="collapseExample{{user.id}}">
                                                <td>{{user.lastname}}</td>
                                                <td>{{user.firstname}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.address}}</td>
                                                <td>{{user.zip}}</td>
                                                <td>{{user.country}}</td>
                                                <td>{{user.tel}}</td>
                                                <td>{{user.companyName}}</td>
                                                <td>{{user.companyNumber}}</td>
                                                <td>{{user.birthday|date('d/m/Y')}}</td>
                                                <td class="text-center">
                                                    <span><a class="text-info" href="{{ path('user_edit_id', {'userId' : user.id}) }}"><i class="fas fa-edit"></i></a></span>
                                                    <button type="button" class="btn" data-toggle="modal" data-target="#deleteModal{{user.id}}">
                                                        <span><a class="text-danger"><i class="fas fa-trash"></i></a></span>
                                                    </button>
                                                    {% set textDelete, linkDelete, paramsDelete, modalId = "Êtes vous-sûre de supprimer <b>" ~ user.fullname ~ "</b>?<br> Vous perdrez toutes les informations.", "user_delete", {'userId': user.id}, user.id  %}
                                                    {{ include("/admin/partials/_delete.html.twig") }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-3">
                            {{ pagination.display() }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
