{% extends '/admin/base.html.twig' %}

{% block title %}{{ parent() }}{{ controller_name }}{% endblock %}

{% block body %}
<!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Factures</h1>
    {% if invoices %}
        <div class="row justify-content-center p-4">
            <div class="col-11">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-success float-right" href="{{ path('invoice_create') }}" role="button">
                            <span><i class="fas fa-plus"></i> Ajouter une facture</span>
                        </a>
                    </div>
                    <div class="card-body mt-2">
                        <div class="table-responsive">
                            <div class="row mx-2">
                                <table class="table table-bordered" id="dataTable"  cellspacing="0" >
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Nom</th>
                                            <th>Montant</th>
                                            <th>Date</th>
                                            <th>Date limite</th>
                                            <th>Statut</th>
                                            <th>PDF</th>
                                            <th>Utilisateurs</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for invoice in invoices %}
                                            <tr type="button" data-toggle="collapse" data-target="#collapseExample{{ invoice.id }}" aria-expanded="false" aria-controls="collapseExample{{ invoice.id }}">
                                                <td>
                                                    {{invoice.id}}
                                                </td>
                                                <td>{{invoice.name}}</td>
                                                <td>
                                                    {{invoice.amount|number_format(2, ',', '.')}} €
                                                </td>
                                                <td>{{invoice.createdAt|date('d/m/Y')}}</td>
                                                <td>{{invoice.expiry|date('d/m/Y')}}</td>
                                                <td>{% if invoice.paid == 1 %}<span class="text-success">Payée</span>{% else %}<span class="text-danger">Impayée</span>{% endif %}</td>
                                                <td class="text-center">{% if invoice.pdf %}<a href="{{ asset('source/pdf/invoice/' ~ invoice.pdf) }}" target="_blank"><i class="fas fa-file-invoice"></i></a>{% endif %}</td>
                                                <td>
                                                    {% if invoice.user %}
                                                        {{ invoice.user.fullname }}
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    <span><a  class="text-info" href=""><i class="fas fa-edit"></i></a></span>
                                                    <span><a  class="text-danger" href=""><i class="fas fa-trash"></i></a></span>
                                                </td>
                                            </tr>
                                            {% if invoice.monthly %}
                                                {% for monthly in invoice.monthly %}
                                                    
                                                    <tr class="collapse table-warning" id="collapseExample{{invoice.id}}">
                                                        <td>
                                                            {{monthly.id}}
                                                        </td>
                                                        <td>{{monthly.name}}</td>
                                                        <td>
                                                            {{monthly.amount|number_format(2, ',', '.')}} €
                                                        </td>
                                                        <td>{{monthly.createdAt|date('d/m/Y')}}</td>
                                                        <td>{{monthly.expiry|date('d/m/Y')}}</td>
                                                        <td>{% if monthly.paid == 1 %}<span class="text-success">Payée</span>{% else %}<span class="text-danger">Impayée</span>{% endif %}</td>
                                                        <td class="text-center">{% if monthly.pdf %}<a href="{{ asset('source/pdf/invoice/' ~ monthly.pdf) }}" target="_blank"><i class="fas fa-file-invoice"></i></a>{% endif %}</td>
                                                        <td>
                                                            {% if monthly.user %}
                                                                {{ monthly.user.fullname }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            <span><a  class="text-info" href=""><i class="fas fa-edit"></i></a></span>
                                                            <span><a  class="text-danger" href=""><i class="fas fa-trash"></i></a></span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- End of InvoicesActive -->
{% endblock %}
